<!DOCTYPE html>
<html lang="en">
<head>
    <title>Key Exchange - {{ .identifier }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/wasm_exec.js"></script>
</head>
<body>
    <img src="/static/img/background.png" class="background" alt="">
    <div class="inOutDiv">
        <h2>Relaying back information, please wait...</h2>
        <p id="statusBox">Processing information sent...</p>
    </div>
    <script>
        loadWasm("/static/wasm/clientKeyShare.wasm")
    </script>
</body>
</html>
