<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup - {{ .identifier }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>
    <p style="display: none;" id="passthrough">{{ .unique_token }}</p>
    <img src="/static/img/background.png" class="background" alt="">
    <div class="inOutDiv">
        <h2 class="w300">Signup</h2>
        <p>Signup to {{ .identifier }}!</p>
        <p id="statusBox"></p>
        <table id="inputContainer">
            <tr>
                <td><span>CAPTCHA:</span></td>
                <td class="inputBox">
                    <div class="captchaDiv">
                        <button id="captchaButton">Start</button>
                        <div class="vAlign">
                            <span id="captchaStatus">Loading...</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span>Username:</span></td>
                <td class="inputBox"><input disabled id="usernameBox" type="text" placeholder="Put your username here"><br></td>
            </tr>
            <tr>
                <td><span>Password: </span></td>
                <td class="inputBox"><input disabled id="passwordBox" type="password" placeholder="Must be at least 8 characters"><br></td>
            </tr>
        </table>
        <br>
        <button id="signupButton" disabled>Signup</button>
        <button id="loginButton" class="unimportant">Login</button>
        <br><br>
        <a href="/privacy">Privacy &amp; Terms</a>
    </div>

    <script src="/static/js/wasm_exec.js"></script>
    <script>
        loadWasm("/static/wasm/signup.wasm")
    </script>
</body>
</html>