<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup - {{ .identifier }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>
    <p style="display: none;" id="passthrough">{{ .unique_token }}</p>
    <img src="/static/img/background.png" class="background" alt="">
    <div class="inOutDiv">
        <h2 class="w300">Signup</h2>
        <p>Signup to {{ .identifier }}!</p>
        <p id="statusBox"></p>
        <table id="inputContainer">
            <tr>
                <td><span id="inputNameBox">Username:</span></td>
                <td class="inputBox"><input id="usernameBox" type="text" placeholder="Username"></td>
            </tr>
            <tr>
                <td><span id="inputPasswordBox">Password: </span></td>
                <td class="inputBox"><input id="passwordBox" type="password" placeholder="Password"><br></td>
            </tr>
        </table>
        <br>
        <button id="signupButton">Signup</button>
        <button id="loginButton" class="unimportant">Login</button>
        <br><br>
        <a href="/privacy">Privacy &amp; Terms</a>
    </div>

    <script src="/static/js/wasm_exec.js"></script>
    <script>
        loadWasm("/static/wasm/signup.wasm")
    </script>
</body>
</html>